@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Inter", sans-serif;
}

.main {
  /* background: linear-gradient(to bottom, #6449e4, #000000); */
  background: #1e1e1e;
}
.sm-ctr {
  padding-left: 1rem;
  padding-right: 1rem;
}

.stylish-button {
  background: linear-gradient(to right, #ff4060, #ff81c5, #6d5eea);
}
/* button lineear */
/* background: linear-gradient(to right, #FF4060, #FF81C5, #6D5EEA); */

/* background: linear-gradient(to right, #ff1a40, #ff49ab, #452fff); */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(114, 73, 73);
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #877ce8;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #312882;
}

.owl-slide {
  width: 100%; /* Set the slide width to full width */
  display: flex;
  justify-content: center;
  align-items: center;
}

.owl-carousel .owl-nav {
  display: none; /* Hide the navigation arrows */
}

.last-item {
  grid-column: 1 / span 3;
}
.border-button {
  border-width: 1px;
  border-style: solid;
  border-image: linear-gradient(to right, #ff4060, #ff81c5, #6d5eea) 1;
  padding: 1rem 2rem;
  border-radius: 50px;
  background: -webkit-linear-gradient(#ff4060, #ff81c5, #6d5eea);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}
.slick-slide {
  display: flex !important;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 20px;
  justify-content: center;
  text-align: center;
  border-style: solid;
  border-width: 2px;
  border-image: linear-gradient(to right, #ff4060, #ff81c5, #6d5eea) 1;
  height: 200px; /* Modify this line to set the desired height */
  padding: 1rem;
}
@media (min-width: 640px) {
  .up-carousel {
    display: none !important;
  }
}

.up-carousel .slick-slide {
  padding: 0;
  border-image: none;
  border: none;
}

.nav-btn {
  border-width: 2px;
  border-style: solid;
  padding: 1rem;
  border-image: linear-gradient(to right, #ff1a40, #ff49ab, #452fff) 1;
  border-radius: 50%;
}
